# leaky-sats self-hosted mempool bridge
# Run inside the same network namespace as the Tailscale app container.
# Tailscale Serve:
#   docker exec tailscale_web_1 tailscale serve --bg --yes --https=443 http://127.0.0.1:18887

{
	auto_https off
	admin off
}

:18887 {
	@options method OPTIONS
	handle @options {
		header Access-Control-Allow-Origin "*"
		header Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
		header Access-Control-Allow-Headers "*"
		header Access-Control-Max-Age "86400"
		respond "" 204
	}

	handle {
		reverse_proxy {$MEMPOOL_UPSTREAM:http://127.0.0.1:3006}
	}
}
